body {
    background: #fcf5f5;
    padding: 40px 40px 40px 40px;
    font-family: "Montserrat", sans-serif;
}

ul,ol {
    margin-top: 0;
    margin-bottom: 0;
}
.wrapper {
    background: #ffffff;
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

.main-content {
    padding: 80px 40px 80px 88px;
    box-sizing: border-box;
}

.sidebar {
    background: #f8e3e6;
    padding: 40px 0px 40px 0px ;
    box-sizing: border-box;
    width: 370px;
}

.sidebar-content {
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

.contacts-title {
    font-weight: 700;
    font-size: 22px;
    color: #161d2a;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 8px;
}

.contacts-type {
    font-weight: 700;
    font-size: 14px;
    /* line-height: 24px; */ 
    line-height: 171%;
    color: #161d2a;
    margin-right: 8px;
}

.contacts-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #2979ff;
    font-weight: 400;
    font-size: 14px;
    /* line-height: 24px; */ 
    line-height: 171%;
}

.contacts-item {
    margin-top: 0;
    margin-bottom: 4px;
}

.contacts-container {
    margin-bottom: 40px;
}

.skills-container {
    margin-bottom: 40px;
}

.skills-title {
    font-weight: 700;
    font-size: 22px;
    color: #161d2a;
    margin-top: 0;
    margin-bottom: 8px;
}

.skills-list {
    padding-left: 16px;
}

.skills-list-item {
    font-weight: 400;
    font-size: 14px;
    /* line-height: 24px;  */
    line-height: 171%;
    color: #161d2a;
}

.my-profession {
    font-weight: 700;
    font-size: 14px;
    /* line-height: 17px; */ 
    line-height: 121%;
    color: #000;
    margin-top: 0;
}

.my-name {
    font-weight: 700;
    font-size: 45px;
    /* line-height: 55px; */ 
    line-height: 122%;
    color: #000;
    margin-top: 0;
    margin-bottom: 12px;
}

.my-descr {
    font-weight: 400;
    font-size: 14px;
    /* line-height: 24px; */ 
    line-height: 171%;
    color: #595959;
}

.my-info {
    margin-bottom: 40px;
}

.my-projects-title {
    font-weight: 700;
    font-size: 22px;
    /* line-height: 27px; */ 
    line-height: 123%;
    color: #000;
    margin-top: 0;
    margin-bottom: 8px;
}

.my-projects-list {
    padding-left: 16px;
}

.my-projects-item {
    font-weight: 700;
    font-size: 14px;
    /* line-height: 24px; */ 
    line-height: 171%;
    color: #000;
}

.my-projects-item-link {
    color: #005FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
}

.my-projects-item-tech{
    font-weight: 400;
    font-size: 14px;
    /* line-height: 24px; */ 
    line-height: 171%;
    color: #595959;
}

.my-projects-container {
    margin-bottom: 40px;
}

.work-experience-title {
   font-weight: 700;
    font-size: 22px;
    /* line-height: 27px; */ 
    line-height: 123%;
    color: #000; 
    margin-top: 0;
    margin-bottom: 8px;
}

.work-experience-company {
    font-weight: 700;
    font-size: 16px;
    /* line-height: 20px; */ 
    line-height: 125%;
    color: #000;
    margin-top: 0;
    margin-bottom: 12px;
}

.company-name {
    color: #6d9bf5;
}

.work-experience-period {
    font-weight: 400;
    font-size: 12px;
    /* line-height: 15px; */ 
    line-height: 125%;
    color: #a8a8a8;
    margin-bottom: 8px;
}

.work-experience-period-separator {
    color: #000;
}

.work-experience-duties-list {
    padding-left: 16px;
}

.work-experience-duties-item {
    font-weight: 400;
    font-size: 14px;
    /* line-height: 24px; */ 
    line-height: 171%;
    color: #595959;
}

.work-experience-container {
    margin-bottom: 12px;
}

/* Education */

.education-title {
    font-weight: 700;
    font-size: 22px;
    color: #000;
    margin-bottom: 8px;
}

.education-university {
    font-weight: 700;
    font-size: 16px;
    color: #6d9bf5;
    margin-top: 0;
    margin-bottom: 8px;
}

.education-faculty {
    font-weight: 700;
    font-size: 14px;
    color: #000;
    margin-top: 0;
    margin-bottom: 8px;
}

.education-period {
    font-weight: 400;
    font-size: 12px;
    color: #a8a8a8;
}

.education-period-separator {
    color: #000;
}

.education-container {
    margin-top: 40px
}